@import './_reset.scss';
@import './_colors.scss';
@import './_fonts.scss';

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#__nuxt, .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}


html {
    scroll-behavior: smooth;
    font-size: 1vw;
}

body {
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-weight: normal;
}


a {
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    transition: color .3s ease-in-out;

    &:hover {
        color:$colorAccentBlue;
    }
}

.scale {
    overflow: hidden;
    border-radius: $borderRadiusMain;

    > * {
        transition: transform 1s ease-in-out;
    }


    &:hover {
        > * {
            transform: scale(1.1);
        }
    }
}


.upper-slide {
    transform: translateY(0);
    transition: transform 0.1s ease-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
    }
}

.color-transition {
    transition: color 200ms linear;
}

img,picture {
    border-radius: $borderRadiusMain;
    pointer-events: none;
}

p,span,small h1,h2,h3,h4,h5,h6, strong {
    color: $colorTextDark;
}

strong {
    font-weight: 900;
}

@media (max-width: 1000px) {
    html {
        font-size: 1.44vw;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 2.62vw;
    }
}

@keyframes ticker {
    0% {
        transform: translateX(100vw);
        visibility: visible;
    }

    100% {
        transform: translateX(-100%);
    }
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.iti {
    --iti-spacer-horizontal: 1.563rem;
    --iti-selected-country-arrow-padding: calc(var(--iti-spacer-horizontal) + 70px);
    --iti-arrow-padding: 0.521rem;
    --iti-arrow-height: 5px;
    --iti-arrow-color: #999;
    
    &__tel-input {
        width: 100%;
    }

    &__arrow {
        margin-left: 0 !important;
        border-left: 5.5px solid transparent !important;
        border-right: 5.5px solid transparent !important;
    }

    &__flag {
        --iti-flag-width: 40px;
        height: calc(var(--iti-flag-height) * 2);
        background-image: var(--iti-path-flags-2x);
        background-size: 11524px;
        background-position: calc(var(--iti-flag-offset) * 2) 0;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        transform: scale(.7);
    }

    &__globe {
        background-image: var(--iti-path-globe-2x);
        background-size: contain;
        background-position: right;
        box-shadow: none;
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 550px) {
    .iti {
        --iti-arrow-padding: 1.018rem;
        --iti-spacer-horizontal: 3.053rem;
        // --iti-selected-country-arrow-padding: 10.076rem;
    }
}