*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#__nuxt, .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}


html {
    scroll-behavior: reset;
}

body {
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-weight: normal;
}


a {
    text-decoration: inherit;
    cursor: inherit;
    width: inherit;
    transition: inherit;

    &:hover {
        color: inherit;
    }
}

.scale {
    overflow: inherit;
    border-radius: inherit;

    > * {
        transition: inherit;
    }


    &:hover {
        > * {
            transform: inherit;
        }
    }
}


.upper-slide {
    transform: inherit;
    transition: inherit;
    cursor: inherit;

    &:hover {
        transform: inherit;
    }
}

img {
    border-radius: inherit;
}

p,span,small h1,h2,h3,h4,h5,h6, strong {
    color: inherit;
}

strong {
    font-weight: inherit;
}