$colorTextDark: #0a0a0a;
$colorAccentBlue: #1b61cb;
$colorTextGrey: #808080;
$colorTextGrey2: #8a8a8a;
$colorBackgroundGrey: rgb(232, 232, 232);
$colorBackgroundGreyDarken: #eceae8;

$borderRadiusMain: 10px;