@import './_reset.scss';
@import './_colors.scss';
@import './_fonts.scss';
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'HelveticaNeue', Arial, sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    transition: color .3s ease-in-out;

    &:hover {
        color:$colorAccentBlue;
    }
}

.scale {
    overflow: hidden;
}

.scale img {
    transition: transform 1s ease-in-out;
}

.scale:hover img {
    transform: scale(1.2);
}

img {
    border-radius: $borderRadiusMain;
}

p,span,small h1,h2,h3,h4,h5,h6, strong {
    color: $colorTextDark;
}

strong {
    font-weight: bold;
}